.intro {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f9fbff;

  &__title {
    color: #598cf6;
    font-size: 48px;
    text-align: center;
    margin-bottom: 30px;
  }

  &__text {
    font-family: Geometria, sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #000000;
    text-align: center;
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 30px;
  }

  &__pagination {
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &__page {
    display: block;
    padding: 5px;
    width: 5px;
    height: 5px;
    background-color: #ff9227;
    border-radius: 50%;
    margin-right: 10px;
    border: 1px solid transparent;

    &:last-child {
      margin-right: 0;
    }
  }
}
