.services {
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #eef4ff;

  &__title {
    text-align: center;
    margin-bottom: 30px;
  }

  &__text {
    font-family: Geometria, sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #000000;
    text-align: center;
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 30px;
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__item {
    padding-top: 180px;
    background-repeat: no-repeat;
    background-position: center;

    &:first-child {
      background-image: url("../img/icon-cloud.png");
    }

    &:nth-child(2) {
      background-image: url("../img/icon-help.png");
    }

    &:nth-child(3) {
      background-image: url("../img/icon-services.png");
    }

    &:last-child {
      background-image: url("../img/icon-talk.png");
    }
  }

  &__desc {
    font-family: Geometria, sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #598cf6;
    text-align: center;
    font-size: 16px;
    line-height: 21px;
  }

  &__link {
    display: block;
    box-sizing: border-box;
    width: 186px;
    border: 1px solid #ff9227;
    color: #ff9227;
    font-size: 16px;
    line-height: 20px;
    font-family: Geometria, sans-serif;
    font-style: normal;
    font-weight: 500;
    border-radius: 5px;
    text-align: center;
    padding: 13px 0;
    margin: 0 auto;
    margin-top: 40px;

    &:hover {
      background-color: #ff9227;
      color: #ffffff;
    }
  }

  @media @screen-sm {
    &__list {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }
}
